@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 font-sans text-gray-800 antialiased;
  }
}

@layer components {
  .card {
    @apply bg-white rounded-3xl shadow-lg border border-gray-200 overflow-hidden transition-all hover:shadow-2xl;
  }
}
